# MANAGEG BY ANSIBLE

#PRIVATE_SECRET=uuddlrlrbastart
AWX_SETTINGS_FILE=/etc/tower/settings.py
PATH=/srv/ansible/bin:/bin:/sbin:/usr/bin:/usr/sbin
export PATH AWX_SETTINGS_FILE

#DJANGO_SETTINGS_MODULE="production"
export DJANGO_SETTINGS_MODULE
