[Unit]
Description=AWX cbreceiver service
After=syslog.target network.target
PartOf=awx.service
After=awx.service

[Service]
User={{ awx_user['user'] }}
Group={{ awx_user['group'] }}
EnvironmentFile=-/etc/sysconfig/awx
ExecStart={{ awx_user['bindir'] }}/awx-manage run_callback_receiver
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=awx.service
