(add-to-list 'custom-theme-load-path "/usr/share/emacs/site-lisp/themes/twilight-bright-theme/")
(add-to-list 'custom-theme-load-path "/usr/share/emacs/site-lisp/themes/color-theme-sanity-tomorrow/")
;;(require 'twilight-bright-theme)
;;(require 'color-theme-sanityinc-tomorrow)

(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(ansi-color-faces-vector
	 [default bold shadow italic underline bold bold-italic bold])
 '(ansi-color-names-vector
	 ["#FFFFFF" "#d15120" "#5f9411" "#d2ad00" "#6b82a7" "#a66bab" "#6b82a7" "#505050"])
 '(ansi-term-color-vector
	 [unspecified "#FFFFFF" "#d15120" "#5f9411" "#d2ad00" "#6b82a7" "#a66bab" "#6b82a7" "#505050"])
 '(beacon-color "#cc6666")
 '(custom-enabled-themes (quote (adwaita)))
 '(custom-safe-themes
	 (quote
		("06f0b439b62164c6f8f84fdda32b62fb50b6d00e8b01c2208e55543a6337433a" "628278136f88aa1a151bb2d6c8a86bf2b7631fbea5f0f76cba2a0079cd910f7d" "bb08c73af94ee74453c90422485b29e5643b73b05e8de029a6909af6a3fb3f58" "03f28a4e25d3ce7e8826b0a67441826c744cbf47077fb5bc9ddb18afe115005f" "1b8d67b43ff1723960eb5e0cba512a2c7a2ad544ddb2533a90101fd1852b426e" default)))
 '(diff-switches "-u")
 '(fci-rule-character-color "#d9d9d9")
 '(fci-rule-color "#d9d9d9")
 '(flycheck-color-mode-line-face-to-color (quote mode-line-buffer-id))
 '(frame-background-mode (quote dark))
 '(vc-annotate-background nil)
 '(vc-annotate-color-map
	 (quote
		((20 . "#d54e53")
		 (40 . "#e78c45")
		 (60 . "#e7c547")
		 (80 . "#b9ca4a")
		 (100 . "#70c0b1")
		 (120 . "#7aa6da")
		 (140 . "#c397d8")
		 (160 . "#d54e53")
		 (180 . "#e78c45")
		 (200 . "#e7c547")
		 (220 . "#b9ca4a")
		 (240 . "#70c0b1")
		 (260 . "#7aa6da")
		 (280 . "#c397d8")
		 (300 . "#d54e53")
		 (320 . "#e78c45")
		 (340 . "#e7c547")
		 (360 . "#b9ca4a"))))
 '(vc-annotate-very-old-color nil)
 '(window-divider-mode nil))
